<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
	<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=<%text(_CHARSET)%>" />
		<title><%text(_EDIT_ITEM)%></title>
		<link rel="stylesheet" type="text/css" href="styles/bookmarklet.css" />
		<link rel="stylesheet" type="text/css" href="styles/addedit.css" />				
		<script type="text/javascript" src="javascript/bookmarklet.js"></script>
		<script type="text/javascript" src="javascript/edit.js"></script>
		<script type="text/javascript" src="javascript/numbercheck.js"></script>
		<%ifautosave()%><script type="text/javascript" src="javascript/xmlhttprequest.js"></script><%endif%>
		<%init%>
		<%extrahead%>
		<script type="text/javascript">
			var nucleus_initbm_oldonload = window.onload;
			function nucleus_initbm()
			{
				initStyles(); 
				updAllPreviews();

				if (nucleus_initbm_oldonload)
					nucleus_initbm_oldonload();
			}
			window.onload = nucleus_initbm;
		</script>
	</head>
	<body>
		<h1><%text(_EDIT_ITEM)%> (<%contents(itemid)%>)</h1>
		<form id="editform" method="post" action="bookmarklet.php" ><div>
			
			<input name="action" type="hidden" value="edititem" />
			<input name="itemid" type="hidden" value="<%contents(itemid)%>" />
			<input type="hidden" name="draftid" value="0" />
			<%ticket%>
			
			<div id="submit" class="buttonbar">
				<div id="switchbuttons">
					<input type="button" onclick="flipBlock('body');" value="<%text(_BMLET_BODY)%> &gt;&gt;" />
					<input type="button" onclick="flipBlock('more');" value="<%text(_BMLET_MORE)%> &gt;&gt;" />
					<input type="button" onclick="flipBlock('options');" value="<%text(_BMLET_OPTIONS)%> &gt;&gt;" />
					<input type="button" onclick="updAllPreviews(); flipBlock('preview');" value="<%text(_BMLET_PREVIEW)%> &gt;&gt;" />
				</div>
				<input type="submit" value="<%text(_BMLET_EDIT)%>" onclick="return checkSubmit();" />
				<input type="button" value="<%text(_BMLET_CANCEL)%>" onclick="window.close();" />
			</div>

			<div id="body" class="contentblock">
				<table>
				<%ifautosave()%><tr>
				<td><%text(_AUTOSAVEDRAFT)%></td>
				<td><span id="info"><%text(_AUTOSAVEDRAFT_NOTYETSAVED)%></span></td>
				</tr><%endif%>
				<tr>
				<td><%text(_ADD_TITLE)%></td>
				<td><input 
					<%jsinput(title)%>
					type="text" size="60" maxlength="160" 
					value="<%contents(title)%>"
				/></td></tr>
			
				<tr><td>
				<%text(_ADD_BODY)%>
				</td><td>
				<%jsbuttonbar(media)%>
				<textarea 
					<%jsinput(body)%>
					cols="58" 
					rows="12"><%contents(body)%></textarea>

				</td></tr>
				<tr>
				<td><%text(_ADD_CATEGORY)%></td>
				<td><%categories%></td>
				</tr>
				<tr>
				<%ifautosave()%><td><%text(_AUTOSAVEDRAFT_NOW)%></td>
				<td><input tabindex="80" type="button" name="autosavenow" value="<%text(_AUTOSAVEDRAFT_NOW)%>" onclick="autoSaveDraft();" /></td><%endif%>
				</tr>
				</table>
					
			</div>
			
			<div id="more" class="contentblock">
				<table>
				<tr>
				<td><%text(_ADD_MORE)%> <%helplink(extended)%></td>
				<td>
				<%jsbuttonbar(media)%>
				<textarea 
					<%jsinput(more)%>
					cols="58" 
					rows="17"><%contents(more)%></textarea>
				</td></tr></table>
			</div>
			<div id="options" class="contentblock">
				<table>
				<%ifblogsetting(bcomments)%>
					<tr>
					<td><%text(_ADD_DISABLE_COMMENTS)%></td>
					<td>
				    <input type="radio" name="closed" value="1" id="closed_yes" <%checkedonval(1,closed)%> /><label for="closed_yes"><%text(_YES)%></label>
				    <input type="radio" name="closed" value="0" id="closed_no" <%checkedonval(0,closed)%> /><label for="closed_no"><%text(_NO)%></label>
					</td>
					</tr>
				<%endif%>
				
				<!-- The only actiontypes are 'edit', 'changedate' (no draft items can be edited) and 'delete' -->
				<tr>
				<td>Action</td>
				<td>
				<ul class="nobullets">
					<li><input name="actiontype" value="edit" type="radio" checked="checked" id="act_edit" /><label for="act_edit"><%text(_BMLET_EDIT)%></label></li>
					<li><input name="actiontype" value="delete" type="radio" id="act_delete" /><label for="act_delete"><%text(_BMLET_DELETE)%></label></li>
					<%ifblogsetting(ballowpast)%>
						<li>
							<input name="actiontype" value="changedate" type="radio" id="act_changedate" tabindex="70" /><label for="act_changedate"><%text(_BMLET_CHANGEDATE)%></label> <%helplink(changedate)%>
									<div class="indent">
										<input id="inputday" name="day" tabindex="71" size="2" value="<%itemtime(mday)%>" onchange="document.forms[0].act_changedate.checked=true;" />/
										<input id="inputmonth" name="month" tabindex="72" size="2" value="<%itemtime(mon)%>" onchange="document.forms[0].act_changedate.checked=true;" />/
										<input id="inputyear" name="year" tabindex="73" size="4" value="<%itemtime(year)%>" onchange="document.forms[0].act_changedate.checked=true;" />
										at
										<input id="inputhour" name="hour" tabindex="74" size="2" value="<%itemtime(hours)%>" onchange="document.forms[0].act_changedate.checked=true;" />:
										<input id="inputminutes" name="minutes" tabindex="75" size="2" value="<%itemtime(minutes)%>" onchange="document.forms[0].act_changedate.checked=true;" />
										(dd/mm/yyyy hh:mm)
									</div>
							</li>
							<li>
								<input name="actiontype" value="backtodrafts" type="radio" id="act_backtodrafts" tabindex="71" /><label for="act_backtodrafts"><%text(_BMLET_BACKTODRAFTS)%></label> <%helplink(draft)%>
							</li>
					<%endif%>
				</td></tr>
				
				<tr>
				<td><%text(_ADD_PLUGIN_EXTRAS)%></td>
				<td>
				<%pluginextras%>
				</td></tr>
				
				  <%itemoptions%>
				</table>
				
			</div>
			
			<div id="preview" class="contentblock">
				<h2><%text(_ADD_PREVIEW)%></h2>
				
				<b><span id="prevtitle">&#160;</span></b>
				<br />
				<span id="prevbody">&#160;</span>
				<br />
				<span id="prevmore">&#160;</span>
			</div>
			
		</div></form>

	<%ifautosave()%><script type="text/javascript">
		var xmlhttprequest = new Array();
		xmlhttprequest[0] = createHTTPHandler(); // AutoDraft handler
		xmlhttprequest[1] = createHTTPHandler(); // UpdateTicket handler
		var seconds = now(); // Last AutoDraft time
		var checks = 0; // Number of checks since last AutoDraft
		var addform = document.getElementById('editform'); // The form id
		var goal = document.getElementById('info'); // The html div id where 'Last saved: date time' must come
		var goalurl = '../action.php'; // The PHP file where the content must be posted to
		var lastsavedtext = '<%text(_AUTOSAVEDRAFT_LASTSAVED)%>'; // The language variable for 'Last saved'
		var formtype = 'edit'; // Add or edit form
	</script><%endif%>

	</body>
	</html>

