<FilesMatch "^item$">
    ForceType application/x-httpd-php
</FilesMatch>
<FilesMatch "^archive$">
    ForceType application/x-httpd-php
</FilesMatch>
<FilesMatch "^member$">
    ForceType application/x-httpd-php
</FilesMatch>
<FilesMatch "^archives$">
    ForceType application/x-httpd-php
</FilesMatch>
<FilesMatch "^category$">
    ForceType application/x-httpd-php
</FilesMatch>
<FilesMatch "^blog$">
    ForceType application/x-httpd-php
</FilesMatch>
<FilesMatch "^special$">
    ForceType application/x-httpd-php
</FilesMatch>
