<a id="nucleus_lf">&nbsp;</a>
<div class="loginform">
	<%text(_LOGINFORM_YOUARE)%> <%formdata(membername)%> ! (<a href="<%self%>?action=logout" title="<%text(_LOGOUT)%>"><%text(_LOGOUT)%></a>)
</div>
